// Breadcrumb styles goes here

.cart-Container{
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
}

.cart {
    max-width: 90%;
    margin: 2rem auto;
  }
  
  .cart p {
    text-align: center;
  }
  
  .cart ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cart li {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #00179b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
  }
  
  